<!-- <!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
th:fragment="layout(title,body)">
<head>
    <meta charset="UTF-8">
<link th:href="@{/style.css}" rel="stylesheet">
    <title th;replace="${title}">Book Management System</title>
</head>
<body>
    <div class="container">
        <div id="body" th:replace="${body}"></div>
    </div>
    
</body>
</html> -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
        th:fragment="layout(title,body)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Book Management System</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
    <!-- ここに各Viewを入れる -->
    <div class="container">
        <div id="body" th:replace="${body}"></div>
    </div>
    <!-- ここまでが各View -->
</body>
</html>