<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザーリスト</title>
</head>
<body>
    <h1>ユーザーリスト</h1>
    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>メールアドレス</th>
                <th>パスワード</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.mail}"></td>
                <td th:text="${user.password}"></td>
            </tr>
        </tbody>
    </table>    
</body>

</html>