<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍の新規追加</title>
</head>
<body>
    <h1>書籍の新規追加</h1>
    <form th:action="@{/books/add}" th:object="${book}" th:method="post">
        <p>タイトル:<input type="text" th:field="*{title}"></p>
        <p>著者名:<input type="text" th:field="*{author}"></p>
        <p>書籍コード:<input type="number" th:field="*{isbn}"></p>
        <p>出版年月:<input type="date" th:field="*{publishedDate}"></p>
        <p>
            <select id="genre" th:field="*{genre.id}">
                <option value="">ジャンルを選択</option>
                <option th:each="genre:${genres}"
                th:value="${genre.id}"
                th:text="${genre.name}">ジャンル名</option>
            </select>
        </p>
        <input type="submit" value="追加">
    </form>
    
</body>
</html>