<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>従業員情報更新</title>
</head>
<body>
    <h1>従業員情報更新</h1>
    <form th:action="@{/employees/edit}" th:object="${employee}" th:method="get">
        <input type="hidden" th:field="*{id}">
        <p>氏名:<input type="text" th:field="*{name}"></p>
        <p>会社名:
            <select id="company" th:field="*{company.id}">
                <option value="">会社名を選択</option>
                <option th:each="company:${companies}"
                th:value="${company.id}"
                th:text="${company.name}"
                th:selected="${company.id==employee.company.id}">会社名</option>
            </select>
        </p>
        <input type="submit" value="登録">
    </form>
</body>
</html>