<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社員情報更新</title>
</head>
<body>
    <h1>社員情報更新</h1>
    <form th:action="@{/employees/edit}" th:object="${employee}" th:method="post">

        <input type="hidden" th:field="*{id}">
        <p>名:<input type="text" th:field="*{firstName}"></p>
        <p>氏:<input type="text" th:field="*{lastName}"></p>
        <p>社員コード:<input type="text" th:field="*{code}"></p>
        <p>誕生日:<input type="date" th:field="*{birthDate}"></p>
        <input type="submit" value="更新">
    </form>
</body>
</html>