<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会社一覧</title>
</head>
<body>
    <h1>会社一覧</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>操作</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="company:${companies}">
                <td th:text="${company.id}"></td>
                <td th:text="${company.name}"></td>
                <td>
                    <a th:href="@{companies/edit/{id}(id=${company.id})}">編集</a>
                    <a th:href="@{companies/delete/{id}(id=${company.id})}">削除</a>
            </tr>
        </tbody>
    </table>
    <div>
    <a th:href="@{companies/add}">新規登録はこちらから</a>
</div><div>
    <a th:href="@{employees}">従業員一覧はこちらから</a>
</div>
</body>
</html>