<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <p>好きな果物を選択してください（複数回答可)</p>
    <form action="/multi" method="get">
        <input type="checkbox" name="fruits" value="ばなな">バナナ<br>
        <input type="checkbox" name="fruits" value="いちご">イチゴ<br>
        <input type="checkbox" name="fruits" value="めろん">メロン<br>
        <input type="checkbox" name="fruits" value="みかん">ミカン<br>
        <input type="submit" value="送信">
    </form>
</body>

</html>