<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>

<body>
    <h1>新規登録</h1>
    <form th:action="@{/products/add}" th:object="${product}" th:method="post">
        <p>商品名:<input type="text" th:field="*{name}"></p>
        <p>商品コード:<input type="text" th:field="*{code}"></p>
        <p>発売日:<input type="date" th:field="*{releaseDate}"></p>
        <p>価格:<input type="number" th:field="*{price}"></p>
        <input type="submit" value="追加">
    </form>
    
</body>
</html>